{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block page %}Login Page{% endblock %}

{{ super() }}

{% block content %}
	<div style="padding-top: 5%; text-align: center;">
    <div style="border: 5px solid Teal; max-width: 25%; margin: auto; padding: 10px;">
        <form action="/login" method="POST">
    
			<input type="text" name="user" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<button>Login</button>

		</form>
	</div>
	</div>
{% endblock %}